.home {
  min-height: 900px;
}

.grid-container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    margin-bottom: 20px;
  }
}
