.card {
  width: 320px;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  // w/h = 4/3
  height: 240px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-body {
  min-height: 100px;
  padding: 8px;

  mark {
    line-height: 1.5;
    pointer-events: "none";
  }
}

.card-title {
  // min-height: 48px;
  // max-height: 72px;
  height: 72px;
  padding: 0 5px;
  margin-bottom: 8px;
  a {
    font-size: 16px;
    color: #403f40;
  }
}
.card-title-hide {
  .bar {
    height: 18px;
    background-color: black;
    margin-bottom: 5px;
  }
  .bar2 {
    width: 80%;
  }
}

.card-actions {
  display: flex;
  input {
    flex-grow: 1;
  }
}

.card-message {
  p {
    margin-bottom: 0;
  }
}
